/*  your css code here. If applicable */
table{
	border: 1px solid black;
	word-spacing: 1px;
	width: 90vw;
	border-collapse: collapse;
	margin: 20px;
	height: 60px
}

td,tr{
	border: 1px solid black;
}

.green{
	background-color: green;
}

.red{
	background-color: red;
}

td{
	padding: 1px
}


